$--color-primary: rgb(36, 35, 35);
$--color-success: #65EE7E;
$--color-warning: #F7D572;
$--color-danger: #FF8C8C;

.primary {
  color:  $--color-primary
}
.success{
  color: $--color-success
}
.warning{
  color: $--color-warning
}
.danger{
  color: $--color-danger
}

.bg-primary {
  background-color:  $--color-primary
}
.bg-success{
  background-color: $--color-success
}
.bg-warning{
  background-color: $--color-warning
}
.bg-danger{
  background-color: $--color-danger
}

$--font-path: '~element-ui/lib/theme-chalk/fonts';

.d-inline{
    display: inline-block !important;
}

.v-middle{
  vertical-align: middle;
}

.text-left{
  text-align: left;
}

// margin and padding values array
$space-values : (
  0,
  3,
  5,
  10,
  15,
  20,
  25,
  30,
  35,
  40,
  45,
  50
) !default;

$space-prefixes : (
  p  : padding,
  pt : padding-top,
  pr : padding-right,
  pb : padding-bottom,
  pl : padding-left,
  m  : margin,
  mt : margin-top,
  mr : margin-right,
  mb : margin-bottom,
  ml : margin-left,
) !default;

@mixin make-spaces() {
  @each $attr-short, $attr-long in $space-prefixes { 
    @each $value in $space-values {
      .#{$attr-short}-#{$value} {
        #{$attr-long}: #{$value}#{'px'};
      }
    }
  }
}

@include make-spaces();

// @import "./src/assets/styles/icons.min.scss";

@import "~element-ui/packages/theme-chalk/src/index";